.container {
    flex-direction: column;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.status-bar{
    margin-left: 561.66px;
    margin-top: 40.111px;
    color: beige;
}
.wifi{
    align-items: center;
    background-size: cover;
    height: 17.04px;
    width: 21.53px;
}
.apps{
    margin-left: 13.9px;
    align-items: center;
    background-size: cover;
    height: 16.52px;
    width: 16.52px;
}
.lock{
    margin-left: 12.69px;
    align-items: center;
    background-size: cover;
    height: 16.74px;
    width: 13.95px;
}
.time{
    font-size: 18px;
    margin-left: 13.05px;
}
.user-name{
    margin-top: 33.85px;
    margin-left: 48px;
    font-size: 30px;
    color: #b1b9d8;
}
.set1{
    margin-left: 48px;
    margin-top: 32.17px;
}
.time-bg{
    flex-direction: column;
    background-size: cover;
    height: 231.49px;
    width: 231.49px;
}
.location-icon{
    margin-top: 30px;
    margin-left: 30px;
    height: 18px;
    width: 13px;
}
.location-city{
    margin-top: 30px;
    left: 10px;
    font-size: 15px;
}
.weather{
    margin-top: 30px;
    width: 23.4px;
    height: 20.83px;
}
.time-txt{
    color: white;
    margin-top: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.day-date{
    font-size: 15px;
    margin-top: 10px;
    color: #b1b9d8;
    width: 100%;
    text-align: center;
}
.temp-page{
    margin-right: 30px;
    margin-left: 30px;
    top: 50px;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: 300px;
}
.temp{
    font-size: 18px;
}
.page{
    margin-top: 10px;
    margin-left: 3px;
    width: 6.17px;
    height: 6.17px;
}


.music-bg{
    align-items: center;
    background-size: cover;
    margin-top: 10.745px;
    margin-left: 5.4325px;
    height: 210px;
    width: 210px;
}
.dreams-bg{
    margin-top: 18.38px;
    height: 98.49px;
    width: 98.49px;
}
.song-name{
    height: 17px;
    width: 48px;
    text-align: center;
    font-size: 15px;
    margin-top: 6.59px;
}
.song-genre{
    font-size: 11px;
    margin-top: 2.28px;
}
.set1_sub{
    flex-direction: row;
    align-content: center;
}
.shuffle{
    margin-top: 19.02;
    height: 12.52px;
    width: 16.7px;
}
.back{
    margin-top: 15.48px;
    margin-left: 23.92px;
    height: 18.78px;
    width: 18.78px;
}
.play{
    margin-top: 16.52px;
    margin-left:20.82px;
    height: 16.7px;
    width: 14.61px;
}
.next{
    margin-top: 15.92px;
    margin-left:20.82px;
    height: 18.78px;
    width: 18.78px;
}
.range{
    margin-top: 16.96px;
    margin-left: 17.92px;
    height: 16.7px;
    width: 21.91px;
}
.food-remaining{
    justify-content: space-between;
    background-size: cover;
    margin-top: 10.745px;
    margin-left: 16.1775px;
    height: 210px;
    width: 210px;
    flex-direction: column;
    padding-bottom: 20px;
}
.food-remain{
    color: #b1b9d8;
    margin-top: 17.56px;
    margin-left: 18.37px;
    font-size: 15px;
}
.set1_sub2{
    justify-content: space-between;
    margin-left: 18.37px;
    margin-right: 30px;
    width: 172px;
}
.txt1{
    color: white;
    font-size: 13px;
}
.v-base{
    margin-left: 18.37px;
    background-size: cover;
    width: 172.72px;
    height: 8.39px;
}
.f-base{
    margin-left: 18.37px;
    background-size: cover;
    width: 172.72px;
    height: 8.39px;
}
.m-base{
    margin-left: 18.37px;
    background-size: cover;
    width: 172.72px;
    height: 8.39px;
    margin-bottom: 17.59px;
}
.storage-settings{
    margin-left: 48px;
    margin-top: 30.92px;
    font-size: 30px;
}
.set2{
    margin-top: 25.72px;
    margin-left: 48.22px;
}
.storage-tab{
    background-size: cover;
    color: beige;
    width: 441.04px;
    height: 210px;
}
.your-storage-markers{
    justify-content: space-between;
    width: 392.5px;
    margin-left: 20.97px;
}
.storage-txt-1{
    height: 30px;
    margin-top: 17.87px;
    font-size: 18px;
}
.view-icon{
    margin-top: 25.37px;
    width: 20.34px;
    height: 9.76px;
}
.view-txt{
    margin-top: 20.87px;
    margin-left: 5.64px;
    font-size: 14px;
}
.add-icon{
    margin-top: 25.37px;
    margin-left: 11.82px;
    height: 9.76px;
    width: 9.76px;
}
.add-txt{
    margin-top: 21.52px;
    margin-left: 3.89px;
    font-size: 14px;
}
.st-item{
    width: 80px;
}
.st-item-image{
    width: 77.62px;
    height:77.62px;
}
.st-item-name{
    text-align: center;
    margin-top: 9.16px;
    font-size: 12px;
    color: white;
}
.st-item-weight{
    text-align: center;
    margin-top: 4.41px;
    color: #b1b9d8;
    font-size: 13px;
}
.help{
    background-size: cover;
    margin-left: 21.67px;
    height: 210px;
    width: 209.07px;
}
.audio-assist1{
    margin-top: 18.67px;
    margin-left: 22.28px;
    width: 150px;
    font-size: 20px;
}
.mic{
    margin-top: 25.39px;
    margin-left: 84.78px;
    width: 38.51px;
    height: 52.76px;
}
.audio-assist2{
    text-align: center;
    margin-top: 13.96px;
    width: 100%;
    font-size: 13px;
}
.set3{
    margin-left: 48.22px;
    margin-top: 20.53px;
    height: 160.45px;
    width: 671.78px;
    color: beige;
}
.refri-door{
    flex-direction: column;
    background-size: cover;
    height: 160.45px;
    width: 160.45px;
}
.refri-door-text{
    margin-top: 10px;
    margin-left: 12px;
    font-size: 19px;
    width: 110px;
    height: 60px;
}
.refri-door-status{
    margin-top: 5px;
    margin-left: 12px;
    font-size: 12px;
}
.refri-door-status-button{
    margin-top: 10px;
    align-content: center;
    margin-left: 12px;
    width: 100.9999999999999px;
    height: 36px;
}
.refri-door-status-button-txt{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    width: 100%;
}
.superfreeze{
    flex-direction: column;
    margin-left: 9.99px;
    background-size: cover;
    height: 160.45px;
    width: 160.45px;
}
.toggle-txt-button{
    margin-top: 28px;
    margin-left: 9px;
    margin-right: 9px;
    justify-content: space-between;
    width: 100%;
}
.superfreeze-toggle{
    margin-left: 9.99px;
    font-size: 15px;
}
.bottom-left-box{
    flex-direction: column;
    margin-left: 9.99px;
    background-size: cover;
    height: 160.45px;
    width: 160.45px;
}
.bottom-left-box-toggle{
    text-align: right;
    margin-left: 9.99px;
    margin-top: 40px;
    font-size: 15px;

}
.bottom-right-box{
    flex-direction: column;
    margin-left: 9.99px;
    background-size: cover;
    height: 160.45px;
    width: 160.45px;
}
.bottom-right-box-toggle{
    margin-left: 9.99px;
    margin-top: 40px;
    font-size: 15px;
}
.crisp-fresh{
    flex-direction: column;
    margin-left: 9.99px;
    background-size: cover;
    height: 160.45px;
    width: 160.45px;
}
.crisp-fresh-toggle{
    margin-left: 9.99px;
    font-size: 15px;
}
.set4{
    margin-top: 35.62px;
    margin-left: 48px;
}
.dinner-text{
    font-size: 30px;
}
.set5{
    justify-content: space-between;
    margin-top: 16.05px;
    margin-left: 48px;
    width: 671.88px;
}
.basic-recepie{
    background-size: cover;
    height: 217.34px;
    width: 217.34px;
}
.recp-img{
    margin-top: 22.45px;
    margin-left: 13.98px;
    width: 99.68px;
    height: 99.68px;
}
.recp-img-fav{
    width: 22.31px;
    height: 18.82px;
    margin-left: 59.85px;
    margin-top: 25.03px;
}
.recp-name{
    margin-left: 20.93px;
    margin-top: 16.25px;
    font-size: 20px;
}
.clock{
    margin-top: 16.87px;
    margin-left: 20.54px;
    width: 18px;
    height: 18px;
}
.recp-settings{
    justify-content: space-between;
    margin-top: 16.87px;
    margin-right: 20.54px;
    margin-left: 8.27px;
    width: 150.88px;
}
.recp-time{
    color: #999999;
    font-size: 13px;
}
.recp-type{
    color: #999999;
    font-size: 13px;
}
.set6{
    align-items: center;
    background-size: cover;
    margin-top: 14.69px;
    margin-left: 48px;
    width: 672px;
    height: 82.94px;
}
.home-icon{
    margin-left: 65.53px;
    width: 33.07px;
    height: 33.32px;
}
.home-txt{
    margin-top: 6.99px;
    margin-left: 63px;
    color: white;
    font-size: 15px;
}
.storage-icon{
    margin-left: 128.79px;
    width: 42.91px;
    height: 33.32px;
}
.storage-txt{
    margin-left: 125px;
    margin-top: 6.99px;
    color: #2e3650;
    font-size: 15px;
}
.music-icon{
    margin-left: 133px;
    width: 27.63px;
    height: 33.32px;
}
.music-txt{
    margin-left: 126px;
    margin-top: 6.99px;
    color: #2e3650;
    font-size: 15px;
}
.settings-icon{
    margin-left: 123.97px;
    width: 33.14px;
    height: 33.32px;
}
.settings-txt{
    margin-left: 112px;
    margin-top: 6.99px;
    color: #2e3650;
    font-size: 15px;
}
