
.set1_sub2{
    justify-content: space-between;
    margin-left: 18.37px;
    margin-right: 30px;
    width: 172px;
}
.txt1{
    color: white;
    font-size: 13px;
}
.v-base{
    margin-top: 10px;
    margin-left: 18.37px;
    background-size: cover;
    width: 172.72px;
    height: 8.39px;
}
