.container {
    flex-direction: column;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.basic-recepie{
    background-size: cover;
    height: 217.34px;
    width: 217.34px;
}
.recp-img{
    margin-top: 22.45px;
    margin-left: 13.98px;
    width: 99.68px;
    height: 99.68px;
}
.recp-img-fav{
    width: 22.31px;
    height: 18.82px;
    margin-left: 59.85px;
    margin-top: 25.03px;
}
.recp-name{
    margin-left: 20.93px;
    margin-top: 16.25px;
    font-size: 20px;
}
.clock{
    margin-top: 16.87px;
    margin-left: 20.54px;
    width: 18px;
    height: 18px;
}
.recp-settings{
    justify-content: space-between;
    margin-top: 16.87px;
    margin-right: 20.54px;
    margin-left: 8.27px;
    width: 150.88px;
}
.recp-time{
    color: #999999;
    font-size: 13px;
}
.recp-type{
    color: #999999;
    font-size: 13px;
}